{% extends "base.html" %}

{% load static %}

<title>Home FromPara</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
	     
	{% endblock %}
    
{% block content %}
<style>
    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust the height as needed */
    }
    
    .bd-placeholder-img {
        width: 100px; /* Adjust the size of the circle */
        height: 100px; /* Adjust the size of the circle */
        border-radius: 50%;
        background-color: black;
    }
</style>
<header class=" text-black">
	<div class="container px-4 text-center">
		<h1 class="fw-bolder">Venha Conhecer FromPara</h1>
		<p class="lead">Um Site para os interessados no estado do Para, sua cultura e pontos turisticos.</p>
		
		<img class="bd-placeholder-img" src="{% static 'img/frompara.png' %}" width="100" height="100" />
	</div>
</header>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu menu-box">
                {% for categoria in categorias %}
                <a href="{% url 'categoria' categoria.id %}" class="item">
                    {{ categoria }}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="twelve wide column">
            {% if categoria %}
                <h1 class="ui header">{{ categoria }}</h1>
            {% endif %}
            <div class="ui three column stackable grid centered-text">
				{% for anuncio in anuncios %}
				  <div class="column">
					<div class="image">
					  <div class="image-container">
						<img src="{{ anuncio.imagem.url }}" alt="Imagem do Anúncio">
					  </div>
					</div>
					<div class="content">
					  <a href="{% url 'anuncio' anuncio.id %}" class="header">{{ anuncio }}</a>
					</div>
					<div class="extra content">
					  {{ anuncio.descricao }}
					</div>
				  </div>
				{% empty %}
				  <p>Nenhum anúncio encontrado!</p>
				{% endfor %}
			  </div>																					
            {% if request.user.is_authenticated %}
                <div class="centered-text">
                    <h1>Premium</h1>
                    <p>{{ premium_content }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}