.menu-box {
  border: 10px solid #C0C0C0; /* Silver color */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  float: left;
  margin-right: 10px;
  background: linear-gradient(to bottom, #ffffff 0%,#C0C0C0 100%); /* Gradient from white to silver */
}

.menu-box a {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  color: #333;
  text-decoration: none;
}

.menu-box a:hover {
  background-color: #ddd;
}

/* Estilos adicionais para o contêiner da imagem */
.image-container {
  border: 2px solid #C0C0C0; /* Borda com cor prata */
  border-radius: 15px; /* Bordas mais suaves */
  width: 50%; /* Ocupar 100% da largura disponível */
  height: 400px; /* Altura fixa */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para um efeito de profundidade */
  background-color: #ffffff; /* Cor de fundo branca */
}

/* Estilos adicionais para a imagem */
.image-container img {
  width: 150%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra todo o contêiner, podendo cortar a imagem */
  border-radius: 15px;
}

/* Estilos adicionais para o contêiner do anúncio */
.ui.fluid.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para um efeito de profundidade */
  border-radius: 15px; /* Bordas mais suaves */
  border: 2px solid #C0C0C0; /* Borda com cor prata */
  overflow: hidden;
  text-align: center; /* Centralizar o texto */
  margin: 10px; /* Adicionar margem ao redor da caixa */
}

/* Estilos adicionais para o conteúdo do anúncio */
.ui.fluid.card .content, .ui.fluid.card .extra.content {
  padding: 15px; /* Espaçamento interno */
  background-color: #f9f9f9; /* Cor de fundo para contraste */
  border-radius: 15px; /* Bordas mais suaves */
  margin-top: 10px; /* Adicionar margem superior */
  text-align: center; /* Centralizar o texto */
  font-family: Arial, sans-serif; /* Escolher uma fonte profissional */
  color: #333; /* Cor do texto */
  font-size: 18px; /* Tamanho do texto */
  line-height: 1.5; /* Altura da linha para melhor legibilidade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o conteúdo */
}


.centered-text {
  text-align: center;
  margin-top: 20px; /* Ajustar a margem conforme necessário */
  font-family:'Comic Sans MS', cursive;/* Definir a fonte como Comic Sans */
  color: #333; /* Cor do texto */
  font-size: 18px; /* Tamanho do texto */
  font-weight: bolder;
  line-height: 1.5; /* Altura da linha para melhor legibilidade */
}


